/* 🚨 ADDITIONAL SYSTEM ANIMATION LOGIC */
@keyframes blinker {
    50% { opacity: 0.3; }
}

.admin-section input {
    margin-bottom: 8px !important;
}

#chatBox p {
    background: rgba(255, 255, 255, 0.03);
    padding: 6px 10px;
    border-radius: 6px;
    margin-bottom: 6px;
    border-bottom: none !important;
}
