/* Prevent Automatic Font Boosting on Mobile WebKit Viewports */
input, select, textarea {
    font-size: 16px !important;
}
.notice-bar {
    background-color: var(--primary);
    color: white;
    padding: 8px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}
